<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="env-production emoji-size-boost page-responsive page-profile">
    {{ partial "header" . }}
    <div class="application-main d-flex flex-auto flex-column" data-commit-hovercards-enabled="" data-color-mode="light">
        <main>
            <div class="bg-gray-dark text-white py-5 text-center">
                <div class="pt-5 text-bold mx-2 mt-0" style="font-size: 100px; margin-bottom: 20px; line-height: 0">
                    <img src="./404.webp"/>
                </div>
                <div class="pb-5">
                    <h4 class="mb-0">Didn’t find anything here!</h4>
                </div>
            </div>
        </main>

    </div>
    {{ partial "footer.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
